@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 55px;
  font-weight: 900;
}
h4 {
  color: gray;
}

.container {
  height: 70px;
  width: 100%;
  margin-top: 50px;
}
.container .nav-menu {
  width: 1200px;

  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.logo {
  margin-left: 15%;
}
.menu-item {
  display: flex;
  margin-right: 50px;
  margin-left: 100%;
  width: 100%;
}
.menu-item a {
  margin-right: 25px;
}

nav li {
  list-style: none;
  margin: 10px;
}
nav a {
  text-decoration: none;
  color: black;
}
.second-container {
  display: flex;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 150px;
}

.half-width {
  width: 40%;
  padding-left: 5px;
}
#main-cam {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  margin-left: 18%;
}
#influencer-box {
  margin-top: 5%;
}
.click-more {
  text-decoration: none;

  color: white;
  background-color: rgb(216, 40, 63);
  padding: 5px 30px;
  border-radius: 25px;
}
.link-sign {
  margin: 10px 0px;
}
.grid-item {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  row-gap: 30px;
  margin-left: 16%;
  margin-right: 14%;
}
.blogs {
  box-shadow: 0px 0px 5px gray;
  width: 72%;
  margin: 5%;

  padding: 10px;
  border-radius: 5px;
}
.retting {
  display: flex;
  color: orange;
  font-size: 12px;
}
.retting span {
  margin: 10px;
  color: black;
}
